<html ng-app="eMeatApp" ng-controller="eMeatController as eMeat">
    <head>
        <title>{{eMeat.title}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="meat.js"></script>
        <link rel="stylesheet" href="emeat.css">
    </head>
    <body>
        <div id="attendees">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Plus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attendee in eMeat.attendees | orderBy: 'name'">
                        <td>{{attendee.name}}</td>
                        <td>{{attendee.pluss}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="body">
            <div id='details' ng-bind-html="discription">
            </div>
            <div id='signup'>
                <form ng-submit="eMeat.addAttendee()">
                    Name: <input type="text" ng-model="eMeat.attName" name="name" placeholder="Name">
                    Plus: <select class=additions ng-model="eMeat.attPluss" ng-options="adds.name for adds in eMeat.availableAdds track by adds.id"></select>
                    <input class="btn-primary" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>
